@import "~bootstrap/scss/bootstrap";

// Colors

$theme-colors: (
  "primary":    #191F29,
  "secondary" : #F3AC60,
  "warning":    #ee7600,
  "grey":       #777777,
);

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value !important;
  }
  .text-#{$color} {
    color: $value !important;
  }
  .btn-#{$color} {
    background-color: $value !important;
    border: none;
  }
  .btn-outline-#{$color} {
    border-color: $value !important;
    color: $value !important;
    &:hover {
      background-color: $value !important;
    }
  }
}

// Typography

$font-weights: (
  "fw-100": 100,
  "fw-200": 200,
  "fw-300": 300,
  "fw-400": 400,
  "fw-500": 500,
  "fw-600": 600,
  "fw-700": 700,
  "fw-800": 800,
  "fw-900": 900,
);

@each $weight, $value in $font-weights {
  .#{$weight} {
    font-weight: $value;
  }
}

$base-font-family: "Montserrat";

html, body {
  font-family: $base-font-family;
  background-color: #191F29;
  height: 100%;
}

.section {
  height: 100vh;
  .logo {
    font-size: 30px;
    font-weight: 800;
  }
}

// HEADER
.header {
  height: 50px;
  background-color: #80d0c7;
  .logo {
    font-size: 20px;
  }
}

.logo-small {
    font-size: 36px;
    letter-spacing: 5px;
  }

.registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// INPUT STYLE

.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  height: 40px;
  font-size: 15px;
  color: #e3e3e3 !important;
  transition: .6s all;
  &:focus {
    box-shadow: none;
    background-color: transparent;
    border-bottom: 2px solid #F3AC60;
  }
}



// ::-webkit-input-placeholder {
//   /* Chrome/Opera/Safari */
//   font-size: 15px;
// }
// ::-moz-placeholder {
//   /* Firefox 19+ */
//   font-size: 15px;
// }
// :-ms-input-placeholder {
//   /* IE 10+ */
//   font-size: 15px;
// }
// :-moz-placeholder {
//   /* Firefox 18- */
//   font-size: 15px;
// }

.logo {
  font-size: 30px;
  font-weight: 800;
}

.reg-form {
  label {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 5px;
}

.cardProduct {
  width: 150px;
  margin: 5px;
  height: 100%;
  background-color: #fff;
  border: 2px solid #e3e3e3;
  .product-name {
    font-size: 15px;
    height: 45px;
  }
  .product-specs {
    font-size: 12px;
    height: 30px;
    .vegan {
      color: #1ab224;
    }
    .vegetarian {
      color: #427d45;
    }

    .spicy {
      color: darkred;
    }
  }
  .product-availability {
    font-size: 10px;
    color: gray;
    .product-info {
      color: #8f949f;
    }
    .availability-number {
      font-size: 13px;
    }
    .product-value {
    }
  }
  &.card-disabled {
    opacity: 30%;
  }
}

// Buttons

.btn-register {
  background-color: #8E6A4F;
  height: 40px;
  padding: 0 25px;
  letter-spacing: 2px;
  border-radius: 50px;
  line-height: 40px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  &:hover {
    background-color: #ee7600;
  }
  &:active {
    box-shadow: none;
  }
}


select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    position: relative;
    z-index: 2;
}

 .select-style:before {
        font-family: "Font Awesome 5 Pro";
        color: #fff;
        font-weight: 700;
        content: '\f0d7';
        position: absolute;
        right: 15px;
        bottom: 10px;
        z-index: 1;
    }


